In [14]:
import pandas as pd

In [15]:
df_col1 = pd.read_csv('col1.txt', header=None)
df_col2 = pd.read_csv('col2.txt', header=None)
df_col2

      0
0     F
1     F
2     F
3     F
4     F
...  ..
2775  M
2776  M
2777  M
2778  M
2779  M

[2780 rows x 1 columns]

In [16]:
df = pd.concat([df_col1, df_col2], axis=1)
df.to_csv('ans_13.txt', sep='\t', index=False, header=False)

In [17]:
df.to_csv('ans_13.txt', index=False, header=False)